body {
    margin-left: 5%;
    margin-right: 5%;
}

.nav {
    font-size: x-large;
}

.nav-link {
    border-bottom: .25rem solid transparent;
}

.nav-link.active {
    border-bottom-color: #007bff;
}

.nav-link.active:hover {
    border-bottom-color: #0056b3;
}

.lead {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

p {
    line-height: 1.75;
}