body
{
	padding:0px;
	margin:0px;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	background-color: #FFFAFA;
}
#main_panel
{
	float:right;
}
p
{
	margin:0px;
	padding:0px;
}
img
{
	margin:0px;
	padding:0px;
	border:none;
}
div
{
	margin:0px;
	padding:0px;
}
a
{
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
a:visited {
    color: blue;
}
table
{
	margin:0px;
	padding:0px;
}
td
{
	border:none;
	margin:0px;
	padding:0px;
}
ul
{
	margin:0px;
	padding-left:20px;
}
h1
{
	text-align:center;
}
h3
{
	padding: 0px;
}